{% extends "board.html" %}
{% load core_extras %}

{% block container %}
<!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <form method="post" action="/index/">
          {% csrf_token %}
          <button class="btn btn-primary btn-block" type="submit">Pull</button>
        </form>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">

      </div>
      <div class="col-xl-3 col-sm-6 mb-3">

      </div>
      <div class="col-xl-3 col-sm-6 mb-3">

      </div>
    </div>

    <!-- DataTables For Block -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Blocks Table
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sector</th>
                <th>Force N-1</th>
                <th>Force N</th>
                <th>Phase N-1</th>
                <th>Phase N</th>
                <th>Graph</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Sector</th>
                <th>Force N-1</th>
                <th>Force N</th>
                <th>Phase N-1</th>
                <th>Phase N</th>
                <th>Graph</th>
              </tr>
            </tfoot>
            <tbody>
            {% for e in companies %}
              <tr>
                <td><a href="/hello/company/{{e.id}}">{{ e.name }}</a></td>
                <td>{{ e.sector }}</td>
                <td>{{ e.indicators.all|antepenultimate:"force" }}</td>
                <td>{{ e.indicators.all|ultimate:"force" }}</td>
                <td>{{ e.indicators.all|antepenultimate:"phase" }}</td>
                <td>{{ e.indicators|ultimate:"phase" }}</td>
                <td> o </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">
        Atos
      </div>
    </div>

{% endblock %}
