{% extends "../board.html" %}

{% block links %}
    <!-- Demo script/style for this page -->
    <script src="/static/js/graph-demo.js"></script>
{% endblock links %}

{% load core_extras %}

{% block breadcrumb %}
  <a href="{% url 'graph' %}">Graph</a>
{% endblock breadcrumb %}
{% block active_breadcrumb %}
  Overview
{% endblock active_breadcrumb %}

{% block active_container %}
    <!-- Django Var -->
    <script>
        var data4stocks = JSON.parse('{{ data4stocks|js }}')
    </script>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
            {{company.fullname}}
        </div>
        <div class="card-body">
            <div id="chart_stocks_div" style="height: 500px; width: 100%;"></div>
        </div>
        <div class="card-footer small text-muted">
            {{company.name}}
        </div>
      </div>
    </div>
{% endblock active_container %}