{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page-->
  <script src="/static/js/dashboard-demo.js"></script>
{% endblock links %}

{% load core_extras %}

{% block breadcrumb %}
  <a href="{% url 'dashboard' %}">Dashboard</a>
{% endblock breadcrumb %}
{% block active_breadcrumb %}
  Overview
{% endblock active_breadcrumb %}

{% block active_container %}
  <!-- Filters -->
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-4">
      <label class="col-sm">Filter by indice</label>
      <div class="col-sm">
        <select class="form-control form-control-sm" id="filter_by_indice" name="indice">
          <option> </option>
          {% for i in indices %}
            <option> {{ i }} </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
      <label class="col-sm">Filter by sector</label>
      <div class="col-sm">
        <select class="form-control form-control-sm" id="filter_by_sector" name="sector">
          <option> </option>
          {% for s in sectors %}
            <option> {{ s }} </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
      <label class="col-sm">Filter by phase</label>
      <div class="col-sm">
        <select class="form-control form-control-sm" id="filter_by_phase" name="phase">
          <option> </option>
          {% for p in phases %}
            <option> {{ p.0 }} </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table id="dataTable" class="table-striped display compact" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Indice</th>
          <th>Sector</th>
          <th>Force</th>
          <th>Phase</th>
          <th>Infos</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Indice</th>
          <th>Sector</th>
          <th>Force</th>
          <th>Phase</th>
          <th>Infos</th>
        </tr>
      </tfoot>
      <tbody>
      {% for e in companies %}
        <tr>
          <td><a href="/graph/company/{{e.id}}" title="{{ e.name }}">{{ e.fullname }}</a></td>
          <td>{{ e.indice }}</td>
          <td>{{ e.sector }}</td>
          <td>{{ e.get_current_force }}</td>
          <td>{{ e.get_current_phase.0 }}</td>
          <td>{{ e.get_weinstein }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock active_container %}
