{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page -->
{% endblock links %}

{% load core_extras %}
{% load crispy_forms_tags %}

{% block active_header %}
  <a href="{% url 'stock' %}">Stock</a>
{% endblock active_header %}
{% block active_footer %}
  Stock
{% endblock active_footer %}

{% block active_container %}
    <h2>Stock Deletion</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        <p>
            Are you sure you want to delete <b>{{ object }}</b> ?
        </p>
        <button onClick="javascript:history.go(-1);" type="button" class="btn btn-light">Back</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock active_container %}