{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page -->
  <script src="/static/js/stock-demo.js"></script>
{% endblock %}

{% load core_extras %}
{% load crispy_forms_tags %}

{% block container %}
    <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Opt</th>
              <th>PRU</th>
              <th>Price</th>
              <th>Target</th>
              <th>Stop</th>
              <th>P/L</th>
              <th>Phase</th>
              <th>Wst</th>
              <th>Infos</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Opt</th>
              <th>PRU</th>
              <th>Price</th>
              <th>Target</th>
              <th>Stop</th>
              <th>P/L</th>
              <th>Phase</th>
              <th>Wst</th>
              <th>Infos</th>
              <th>Edit</th>
            </tr>
          </tfoot>
          <tbody>
          {% for s in stocks %}
            <tr>
              <td><a href="/graph/company/{{s.company_fk.id}}">{{ s.name }}</a></td>
              <td>{{ s.option }}</td>
              <td>
                <p class="font-weight-bold">{{ s.pru }}€</p>
              </td>
              <td>{{ s.price }}€</td>
              <td>
                {% if s.target > 0 and s.price > s.target %}
                  <p class="text-light bg-success">{{ s.target }}€</p>
                {% elif s.target > 0 %}
                  <p>{{ s.target }}€</p>
                {% endif %}
              </td>
              <td>
                {% if s.stop > 0 and s.price < s.stop %}
                  <p class="text-light bg-danger">{{ s.stop }}€</p>
                {% elif s.stop > 0 %}
                  <p>{{ s.stop }}€</p>
                {% endif %}
              </td>
              <td>
                {% with pl=s.pru|get_pl:s.price %}
                  {% if pl > 0 %}
                    <p class="text-success">{{ pl }}%</p>
                  {% else %}
                    <p class="text-danger">{{ pl }}%</p>
                  {% endif %}
                {% endwith %}
              </td>
              <td>{{ s.get_current_phase.0 }}</td>
              <td>{{ s.get_weinstein }}</td>
              <td>
                {% if s.link != '/' %}
                  <a href="{{s.link}}" target="_blank">link</a>
                {% endif %}
              </td>
              <td>
                  <button onClick="location.href='/stock/{{s.pk}}'" type="button" class="btn-sm btn-primary">edit</button>
                  <button onClick="location.href='/stock/{{s.pk}}/delete'" type="button" class="btn-sm btn-danger">delete</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button onclick="location.href='/stock/add'" type="submit" class="btn btn-primary">Create</button>
        <button onclick="location.href='/stock/up'" type="button" class="btn btn-success">Refresh</button>
      </div>
{% endblock %}