{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page -->
  <script src="/static/js/stock-demo.js"></script>
{% endblock %}

{% load core_extras %}
{% load crispy_forms_tags %}

{% block container %}
    <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Option</th>
              <th>PRU</th>
              <th>Target</th>
              <th>Stop</th>
              <th>Price</th>
              <th>P/L</th>
              <th>Phase</th>
              <th>Wst</th>
              <th>Infos</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Option</th>
              <th>PRU</th>
              <th>Target</th>
              <th>Stop</th>
              <th>Price</th>
              <th>P/L</th>
              <th>Phase</th>
              <th>Wst</th>
              <th>Infos</th>
              <th>Edit</th>
            </tr>
          </tfoot>
          <tbody>
          {% for s in stocks %}
            <tr>
              <td><a href="/graph/company/{{s.company_fk.id}}">{{ s.name }}</a></td>
              <td>{{ s.option }}</td>
              <td>{{ s.pru }}€</td>
              <td>{{ s.target }}€</td>
              <td>{{ s.stop }}€</td>
              <td>{{ s.ticker|get_price }}€</td>
              <td>{{ s.ticker|get_pl:s.pru }}%</td>
              <td>{{ s.get_current_phase }}</td>
              <td>{{ s.get_weinstein }}</td>
              <td><a href="{{s.link}}" target="_blank">link</a></td>
              <td>
                  <button onClick="location.href='/stock/{{s.pk}}'" type="button" class="btn btn-primary">edit</button>
                  <button onClick="location.href='/stock/{{s.pk}}/delete'" type="button" class="btn btn-danger">delete</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button onclick="location.href='/stock/add'" type="submit" class="btn btn-primary">Create</button>
      </div>
{% endblock %}