<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Live Room</title>
</head>
<body>
    <textarea id="live-log" cols="100" rows="20"></textarea><br>
    <input id="live-message-input" type="text" size="100"><br>
    <input id="live-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const liveSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/live/'
            + roomName
            + '/'
        );

        liveSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#live-log').value += (data.message + '\n');
        };

        liveSocket.onclose = function(e) {
            console.error('live socket closed unexpectedly');
        };

        document.querySelector('#live-message-input').focus();
        document.querySelector('#live-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#live-message-submit').click();
            }
        };

        document.querySelector('#live-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#live-message-input');
            const message = messageInputDom.value;
            liveSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>