{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page -->
{% endblock links %}

{% load core_extras %}

{% block breadcrumb %}
  <a href="{% url 'hello' %}">Hello</a>
{% endblock breadcrumb %}
{% block active_breadcrumb %}
  Overview
{% endblock active_breadcrumb %}

{% block active_container %}
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            Hello clazz = {{ clazz }} and oid = {{ oid }}
        </div>
        <div class="card-footer small text-muted">
            Footer
        </div>
      </div>
    </div>
{% endblock active_container %}