{% extends "../board.html" %}

{% block links %}
  <!-- Demo script/style for this page -->
    <script src="/static/js/index-demo.js"></script>
{% endblock links %}

{% load core_extras %}

{% block breadcrumb %}
  <a href="{% url 'hello' %}">Hello</a>
{% endblock breadcrumb %}
{% block active_breadcrumb %}
  Overview
{% endblock active_breadcrumb %}

{% block active_container %}
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <- Click to navigate
            Test :
            <div id="progress-wrapper">
              <button id="progress-bar-trigger">Run</button>
              <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
              <div id="progress-bar-message">Waiting for progress to start...</div>
            </div>
        </div>
        <div class="card-footer small text-muted">
            Footer
        </div>
      </div>
    </div>
{% endblock active_container %}